// Colors
$primary: #263238;
$secondary: #404d5a;
$error: #e57373;
$black: #080808;
$white: #fcfcfc;

// Fonts
$font_body: 'Montserrat';
$font_body_fallback: 'sans-serif';
$font_heading: 'Montserrat';
$font_heading_fallback: 'Montserrat';
$font_face_url: 'scss/font/Montserrat-Thin.ttf';

// Fluid typography
$font_size: 14px;
$min_font: 12px;
$max_font: 18px;
$min_width: 480px;
$max_width: 1440px;

// Padding
$padding: (
	small: 1rem,
	medium: 2rem,
	large: 3rem,
);

:export {
	primary: $primary;
	secondary: $secondary;
	black: $black;
	white: $white;
	error: $error;
	font_body: $font_body;
	font_body_fallback: $font_body_fallback;
	font_heading: $font_heading;
	font_heading_fallback: $font_body_fallback;
	font_face_url: $font_face_url;
}
